yt-dlp
ffmpeg-python
imageio-ffmpeg
faster-whisper
google-cloud-aiplatform
google-cloud-storage
google-generativeai
streamlit==1.45.0
python-dotenv
pydantic
pydantic-settings
google-api-python-client
google-auth
google-auth-oauthlib
notion-client
sqlalchemy
rich
